<div class="container-fluid p-4 rounded-3 shadow-lg"
    style="background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);">
    <div class="col-md-6">
        <h4 class="text-dark fw-bolder mb-2" style="letter-spacing: -1px;">
            <i class="pi pi-box me-2 text-primary"></i>Product Management
        </h4>
    </div>
    <div class="row g-3 mb-4 align-items-center">
        <div class="col-auto">
            <input type="text" class="form-control shadow-sm border-2 border-dark" style="width: 320px;"
                [(ngModel)]="keyword" placeholder="Search products..." (keydown.enter)="onSearch()" />
        </div>
        <div class="col-auto d-flex gap-3">
            <button class="btn btn-outline-dark fw-bold px-4 shadow-sm mx-2" (click)="onSearch()">Search</button>
            <button class="btn btn-outline-primary fw-bold px-4 shadow-sm mx-2" (click)="createProduct()">Create
            </button>
        </div>
    </div>












</div>