<div class="bg-dark modal-header border-0 p-4">
    <h4 class="modal-title text-white fw-bold">
        <i class="pi pi-plus-circle me-2"></i>Create New Brand
    </h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="bsModalRef.hide()"></button>
</div>

<div class="modal-body p-4 bg-light">
    <form>
        <div class="mb-4">
            <label class="form-label fw-bold text-dark mb-2">Brand Name</label>
            <div class="input-group shadow-sm">

                <input type="text" class="form-control border-start-0 ps-0 py-2" placeholder="e.g. Samsung, Nike..."
                    style="outline: none; box-shadow: none;">
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold text-dark mb-2">Description</label>
            <textarea class="form-control shadow-sm" rows="4" placeholder="Write a brief description about the brand..."
                style="resize: none;"></textarea>
        </div>
    </form>
</div>

<div class="modal-footer border-0 bg-white p-3 shadow-lg">
    <button class="btn  btn-outline-danger fw-bold px-4 shadow-sm mx-2" (click)="close()">Cancel</button>
    <button class="btn btn-outline-primary fw-bold px-4 shadow-sm mx-2" (click)="save()">Save</button>
</div>