<div class="bg-dark modal-header border-0 p-4">
    <h4 class="modal-title text-white fw-bold">
        <i class="pi pi-plus-circle me-2"></i>Edit Product
    </h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="bsModalRef.hide()"></button>
</div>

<form class="form-horizontal" autocomplete="off" #createProductForm="ngForm" (ngSubmit)="save()">
    <div class="modal-body p-4 bg-light">
        <div class="row">
            <div class="col-md-6 mb-4">
                <label class="form-label fw-bold text-dark mb-2">Product Name *</label>
                <div class="input-group shadow-sm">
                    <input type="text" class="form-control border-start-0 ps-0 py-2" name="name" readonly
                        [(ngModel)]="productDto.name" required maxlength="128" placeholder="e.g. Samsung Galaxy S21">
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <label class="form-label fw-bold text-dark mb-2">SKU *</label>
                <div class="input-group shadow-sm">
                    <input type="text" class="form-control border-start-0 ps-0 py-2" name="sku"
                        [(ngModel)]="productDto.sku" required maxlength="64" placeholder="e.g. PROD-001">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <label class="form-label fw-bold text-dark mb-2">Price *</label>
                <div class="input-group shadow-sm">
                    <input type="number" class="form-control border-start-0 ps-0 py-2" name="price"
                        [(ngModel)]="productDto.price" required min="0" placeholder="0.00">
                </div>
            </div>

        </div>



        <div class="row">
            <div class="col-md-6 mb-4">
                <label class="form-label fw-bold text-dark mb-2">Brand *</label>
                <select class="form-select shadow-sm" name="brandId" [(ngModel)]="productDto.brandId" required>
                    <option [ngValue]="undefined" disabled selected>Select Brand</option>
                    <option *ngFor="let brand of brands" [ngValue]="brand.id">{{brand.name}}</option>
                </select>
            </div>
            <div class="col-md-6 mb-4">
                <label class="form-label fw-bold text-dark mb-2">Category *</label>
                <select class="form-select shadow-sm" name="categoryId" [(ngModel)]="productDto.categoryId" required>
                    <option [ngValue]="undefined" disabled selected>Select Category</option>
                    <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
                </select>
            </div>
        </div>

        <div class="mb-4">
            <label class="form-label fw-bold text-dark mb-2">Description</label>
            <textarea class="form-control shadow-sm" name="description" [(ngModel)]="productDto.description" rows="3"
                placeholder="Write a brief description..."></textarea>
        </div>

        <div class="mb-4">
            <label class="form-label fw-bold text-dark mb-2">Product Image</label>



            <input type="file" class="form-control shadow-sm" accept="image/*" (change)="onFileSelected($event)">

            <small class="text-muted">Upload product image (JPG/PNG) - Max 5MB</small>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="isActive" id="isActive"
                        [(ngModel)]="productDto.isActive">
                    <label class="form-check-label fw-bold text-dark ms-2" for="isActive">
                        Is Active
                    </label>
                </div>
            </div>


             <div class="col-md-6 mb-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="isPerishable" id="isPerishable"
                        [(ngModel)]="productDto.isPerishable">
                    <label class="form-check-label fw-bold text-dark ms-2" for="isActive">
                        Is Perishable
                    </label>
                </div>
            </div>
            
        </div>
    </div>

    <div class="modal-footer border-0 bg-white p-3 shadow-lg">
        <button type="button" class="btn btn-outline-danger fw-bold px-4 shadow-sm mx-2"
            (click)="bsModalRef.hide()">Cancel</button>
        <button type="submit" class="btn btn-outline-primary fw-bold px-4 shadow-sm mx-2" (click)="save()"
            [disabled]="!createProductForm.form.valid">Save</button>
    </div>
</form>